<!-- MAIN -->
<main>
  <div class="grid grid-cols-1 md:grid-cols-3">
    <!-- RECENT POST -->
    <section class="md:col-span-2 md:mx-12 my-4 md:my-12 p-6 md:px-8 bg-gray-100 md:shadow-lg">
      <img src="https://source.unsplash.com/random/x500/?blogging" alt="" class="mx-w-100 py-2">
      <h1 class="text-3xl border-b-2 border-indigo-300 w-3/4 md:w-1/2 my-4">Post Title</h1>
      <em class="text-xs mr-4">Written by Jennifer Wong</em>
      <small class="text-xs text-gray-700">July 09 2020</small>
      <p class="text-base mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam corrupti cum ipsum reprehenderit tenetur quam recusandae qui perferendis. Quae earum ipsam sequi, iusto quisquam accusamus, cum soluta sit sunt laboriosam laudantium non cupiditate praesentium blanditiis optio doloribus unde? Ab dolorem laborum voluptatum quas reiciendis doloremque obcaecati facere architecto dolores ea. </p>
      <blockquote class="my-6 mx-4 p-4 text-2xl border-l-4 border-indigo-300">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</blockquote>
      <p class="text-base mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam eius, officia laborum veritatis quisquam voluptas atque ut aut ipsa! Hic, deleniti asperiores harum, quas dignissimos praesentium alias deserunt unde expedita iusto quia. Odit sunt molestiae repellat similique nulla, doloremque eius rem. Similique voluptates reprehenderit aliquam enim esse excepturi reiciendis necessitatibus.</p>
      <a class="flex items-center text-indigo-700 hover:text-indigo-500 hover:underline focus:underline transition duration-300" href="#">Read More
        <svg class="ml-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" width="24px" height="20px">
          <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd" />
        </svg>
      </a>
    </section>

  <!-- SIDEBAR -->
    <aside class="col-span-1 mx-8 my-12 items-center">
      <div class="mb-12 py-4 bg-white px-8 shadow-base border-2 border-indigo-200 rounded">
        <h3 class="text-xl border-b-2 border-indigo-300 mb-4 w-3/4">About</h3>
        <p class="text-sm">At WisdomWave, we're passionate about cultivating a community where ideas thrive. Our blog site serves as a dynamic hub for thought leaders, experts, and enthusiasts to share insights, spark conversations, and explore diverse perspectives. Join us on a journey of discovery, learning, and inspiration as we navigate the ever-evolving landscape of knowledge.
        <br>
        Through thought-provoking articles, diverse perspectives, and engaging discussions, we aim to inspire and empower readers to explore new ideas, gain insights, and expand their horizons.</p>
      </div>
      <div class="py-4 px-8 bg-white shadow-base border-2 border-indigo-200  rounded">
        <h3 class="text-xl border-b-2 border-indigo-300 mb-4 w-3/4">Instagram</h3>
        <p class="text-sm mb-4">Experience a visual feast of inspiration on our Instagram page! Dive into captivating snapshots, behind-the-scenes moments, and exclusive content that complement our blog articles. Follow us for a daily dose of creativity, insight, and community engagement. Don't miss out – join our Insta journey today!</p>
        <div id="image-grid" class="grid grid-cols-3 gap-4">
          <div class="col-span-1">
            <img src="https://source.unsplash.com/random/" alt="">
          </div>
          <div class="col-span-1">
            <img src="https://source.unsplash.com/random/" alt="">
          </div>
          <div class="col-span-1">
            <img src="https://source.unsplash.com/random/" alt="">
          </div>
          <div class="col-span-1">
            <img src="https://source.unsplash.com/random/" alt="">
          </div>
          <div class="col-span-1">
            <img src="https://source.unsplash.com/random/" alt="">
          </div>
          <div class="col-span-1">
            <img src="https://source.unsplash.com/random/" alt="">
          </div>
          <div class="col-span-1">
            <img src="https://source.unsplash.com/random/" alt="">
          </div>
          <div class="col-span-1">
            <img src="https://source.unsplash.com/random/" alt="">
          </div>
          <div class="col-span-1">
            <img src="https://source.unsplash.com/random/" alt="">
          </div>
        </div>
        <button class="block bg-indigo-600 font-light hover:font-normal hover:bg-indigo-500 hover:underline text-white mx-auto mt-4 py-2 px-4 rounded transition duration-300">Follow @Wisdomwave</a></button>
      </div>
    </aside>

    </div>
  </main>

  <!-- SUBSCRIBE -->
  <div id="subscribe" class="bg-indigo-900">
    <div class="flex flex-col justify-center items-center text-center mx-auto py-16 w-1/2 ">
      <h1 class="text-3xl text-white pb-2">Subscribe For Updates</h1>
      <p class="text-sm font-light text-gray-100 mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam iure vel consectetur. Nulla corrupti dolorum reiciendis, vitae nam blanditiis aliquid omnis atque, adipisci tempora qui perspiciatis natus dolores hic voluptatem doloremque nisi ipsa asperiores placeat?</p>
      <div class="flex flex-wrap justify-center items-center mt-4">
        <label class="text-sm text-gray-100 pr-2">Email Address:</label>
        <input class="text-sm p-2 px-4 my-2 w-48 rounded focus:outline-indigo-200 text-indigo-800" type="text" aria-label="email"  name="email" placeholder="Enter your email address" required />

        <button class="bg-indigo-600 font-light hover:font-normal hover:bg-indigo-500 text-white py-2 px-4 ml-2 my-2 rounded transition duration-300">Sign Up</button>
    </div>
  </div>
  </div>
</div>

<!-- BLOG CARDS -->
<div id="blog-cards" class="grid p-8 lg:grid-cols-3 md:grid-cols-2 md:gap-4">

  <% data.forEach(post => { %>
  
  <div class="max-w-sm m-2 rounded overflow-hidden shadow-lg bg-white text-gray-800">
    <img src="https://source.unsplash.com/random/x400/?business" alt="" class="w-full" />
    <div class="px-6 py-4">
      <div>
        <h1 class="text-2xl"><%= post.title %></h1>
        <em class="text-xs mr-4">Written by Jane Doe</em>
        <small class="text-xs text-gray-700"><%= post.createdAt %></small>
        <p class="text-sm pt-2">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non, sint atque praesentium similique error aperiam hic rem nulla itaque recusandae nihil facilis animi doloribus ratione asperiores vero amet et adipisci...</p>

        <a class="mt-2 text-sm flex items-center text-indigo-700 hover:text-indigo-500 hover:underline focus:underline transition duration-300" href="#">Read More
          <svg class="ml-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" width="20px" height="16px">
            <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd" />
          </svg>
        </a>
      </div>
      
    </div>
    <div class="px-6 py-4">
        <span
          class="inline-block bg-red-200 bg-opacity-75 rounded-full px-3 py-1 text-sm font-semibold text-red-800 mr-2"
        >
          #business
        </span>
        <span
        class="inline-block bg-purple-200 bg-opacity-75 rounded-full px-3 py-1 text-sm font-semibold text-purple-800 mr-2"
      >
        #travel
      </span>
      
    </div>

  </div>
   
  <% }) %>
<!-- <div class="max-w-sm m-2 rounded overflow-hidden shadow-lg bg-white text-gray-800">
  <img src="https://source.unsplash.com/random/x400/?family" alt="" class="w-full" />
  <div class="px-6 py-4">
    <div>
      <h1 class="text-2xl">Post Title</h1>
      <em class="text-xs mr-4">Written by Susan Williams</em>
      <small class="text-xs text-gray-700">July 01 2020</small>
      <p class="text-sm pt-2">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non, sint atque praesentium similique error aperiam hic rem nulla itaque recusandae nihil facilis animi doloribus ratione asperiores vero amet et adipisci...</p>
      <a class="mt-2 text-sm flex items-center text-indigo-700 hover:text-indigo-500 hover:underline focus:underline transition duration-300" href="#">Read More
        <svg class="ml-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" width="20px" height="16px">
          <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd" />
        </svg>
      </a>
    </div>
    
  </div>
  <div class="px-6 py-4">
      <span
        class="inline-block bg-yellow-200 bg-opacity-75 rounded-full px-3 py-1 text-sm font-semibold text-yellow-800 mr-2"
      >
        #family
      </span>
      <span
      class="inline-block bg-purple-200 bg-opacity-75 rounded-full px-3 py-1 text-sm font-semibold text-purple-800 mr-2"
    >
      #travel
    </span>
    
  </div>

</div>
<div class="max-w-sm m-2 rounded overflow-hidden shadow-lg bg-white text-gray-800">
  <img src="https://source.unsplash.com/random/x400/?cooking" alt="" class="w-full" />
  <div class="px-6 py-4">
    <div>
      <h1 class="text-2xl">Post Title</h1>
      <em class="text-xs mr-4">Written by Melissa Smith</em>
      <small class="text-xs text-gray-700">June 27th 2020</small>
      <p class="text-sm pt-2">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non, sint atque praesentium similique error aperiam hic rem nulla itaque recusandae nihil facilis animi doloribus ratione asperiores vero amet et adipisci...</p>
      <a class="mt-2 text-sm flex items-center text-indigo-700 hover:text-indigo-500 hover:underline focus:underline transition duration-300" href="#">Read More
        <svg class="ml-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" width="20px" height="16px">
          <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd" />
        </svg>
      </a>
    </div>
    
  </div>
  <div class="px-6 py-4">
      <span
        class="inline-block bg-pink-200 bg-opacity-75 rounded-full px-3 py-1 text-sm font-semibold text-pink-800 mr-2"
      >
        #cooking
      </span>
      <span
      class="inline-block bg-green-200 bg-opacity-75 rounded-full px-3 py-1 text-sm font-semibold text-green-800 mr-2"
    >
      #gardening
    </span>
    
  </div>

</div> -->
</div>